@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #93342633;
  border-radius: 999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #93342680;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #933426;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .logo_container {
  @apply flex flex-row gap-2 md:gap-4 justify-center items-center;
}

.navbar_logo {
  @apply m-auto max-h-[32px] md:max-h-[60px] max-w-[32px] md:max-w-[144px] relative;
} */

/* .navbar_logo span {
  position: unset !important;
} */

/* .logo_kemdikbud {
  @apply w-8 md:w-14 h-8 md:h-14 object-contain object-center;
}

.logo_mb {
  @apply w-10 md:w-20 h-8 md:h-14 object-contain object-center;
}

.logo_kurmer {
  @apply w-16 md:w-36 h-8 md:h-14 object-contain object-center;
} */

/* .navbar_logo img {
  object-fit: contain;
  object-position: center;
  width: 100% !important;
  max-width: fit-content !important;
  max-height: 32px !important;
  min-height: 24px !important;
  position: relative !important;
  height: unset !important;
} */

/* @media (min-width: 768px) {
  .navbar_logo img {
    max-height: 60px !important;
    max-height: fit-content !important;
    max-width: 144px !important;
  }
} */

.header {
  @apply fixed top-0 right-0 left-0 z-40 bg-white transition-all duration-[2000];
}

.nav_container {
  @apply px-4 md:px-12 lg:px-24 xl:px-40 transition-all duration-500;
}

.nav {
  @apply h-20 md:h-40 lg:h-48 flex flex-row justify-between items-center;
}

.nav_logo {
  @apply w-36 md:w-56 lg:w-72 object-contain object-center;
}

.mobile_menu_container {
  @apply flex flex-col justify-start items-end relative w-full;
}

.mobile_menu_container button,
.mobile_menu_container a {
  text-shadow: 1px 4px 4px #00000040;
}

nav a:hover,
nav button:hover {
  @apply text-black;
}

.menu_btn {
  @apply px-6 py-2 flex flex-row justify-center items-center gap-1;
}

.footer {
  @apply absolute bottom-0 w-full bg-gradient-to-t from-[#933426]/90 via-[#933426]/50 via-40% lg:bg-none py-12;
}

.footer_container {
  @apply px-12 lg:px-24 xl:px-40 transition-all duration-500;
}

.index_outer_container {
  @apply hidden lg:block w-full min-h-screen absolute left-0 top-0 bottom-0;
}

.index_inner_container {
  @apply w-7/12 h-full flex flex-col items-start justify-between px-4 md:px-8 lg:px-20 xl:px-36 py-20 text-white bg-gradient-to-r from-[#933426] from-5% via-[#933426]/75 via-50%;
}

.index_content {
  @apply grow flex flex-col justify-center items-start gap-8;
}

.index_content a:hover,
.index_content button:hover {
  @apply text-white;
}

.main_outer_container {
  @apply flex min-h-screen flex-col items-start justify-start px-4 md:px-12 lg:px-24 xl:px-40 pt-28 md:pt-40 lg:pt-56 pb-52 lg:pb-40;
}

.main_inner_container {
  @apply relative w-full h-full flex flex-col justify-start items-center lg:items-start;
}

.main_content {
  @apply max-w-lg 2xl:max-w-2xl bg-transparent;
}

.exhibitions_title {
  @apply w-full text-[#00000066] lg:text-black;
}

.exhibitions_outer_container {
  @apply w-full sm:overflow-x-scroll;
}

.exhibitions_inner_container {
  @apply flex flex-col sm:flex-row justify-start items-start gap-12 w-full sm:w-max sm:pb-4;
}

.exhibitions_item_container {
  @apply flex flex-col justify-start items-start w-full sm:w-[328px];
}

.exhibitions_item_image {
  @apply object-cover object-center w-full h-[262px];
}

.catalogues_container {
  @apply w-full flex flex-col lg:flex-row flex-wrap justify-between items-center lg:items-start gap-y-24 lg:gap-x-8 lg:gap-y-20 xl:gap-x-16 xl:gap-y-24;
}

.catalogues_item_container {
  @apply basis-full lg:basis-[48%] xl:basis-[45%] flex flex-col lg:flex-row justify-start items-center lg:items-end gap-4 lg:gap-10 xl:gap-16 w-[283px] lg:w-[170px] xl:w-[212px] 2xl:w-[283px];
}

.catalogues_item_image {
  @apply object-cover object-center w-[283px] lg:w-[170px] xl:w-[212px] 2xl:w-[283px] h-[400px] lg:h-[240px] xl:h-[300px] 2xl:h-[400px];
}

.catalogues_item_description {
  @apply flex flex-col justify-start items-center lg:items-start;
}

.artworks_container {
  @apply flex flex-row justify-center lg:justify-between items-center w-full;
}

.artworks_menu {
  @apply hidden lg:flex flex-col w-1/5 min-w-[320px] lg:text-xl 2xl:text-2xl gap-8;
}

.artworks_menu a {
  @apply text-black/40 hover:text-black transition-all;
}

.artworks_display_outer_container {
  @apply w-min md:w-full lg:h-[560px] lg:grow lg:overflow-y-scroll flex flex-col justify-start items-start lg:pr-4;
}

.artworks_display_inner_container {
  @apply w-max md:w-full h-max flex flex-col md:flex-row flex-wrap justify-center lg:justify-start items-center gap-12 lg:gap-4;
}

.artworks_item_container {
  @apply relative w-[280px] h-[224px] lg:w-[200px] lg:h-[160px] xl:w-[240px] xl:h-[192px] 2xl:w-[320px] 2xl:h-[256px];
}

.artworks_item_overlay {
  @apply relative lg:absolute lg:top-0 lg:left-0 w-full h-full bg-black/30 hidden lg:flex flex-col justify-end items-start opacity-0 transition-all p-4 bg-gradient-to-t from-[#933426]/80 to-white/60 text-white;
}

.artworks_item_container:hover .artworks_item_overlay {
  @apply opacity-100;
}

.artworks_display_outer_container::-webkit-scrollbar {
  display: none;
}
/* p {
  @apply text-sm;
} */
/* 
.img_container {
  @apply relative flex justify-center items-center w-full max-w-3xl h-full float-right lg:mr-[-6rem];
}

.perupa_img_container {
  width: 100%;
  position: relative;
}

.perupa_img_container span {
  position: unset !important;
}

.perupa_img_container img {
  object-fit: contain;
  width: 100% !important;
  max-height: 660px !important;
  position: relative !important;
  height: unset !important;
} */

/* width */
.profile_content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.profile_content::-webkit-scrollbar-track {
  background: #93342633;
  border-radius: 999px;
}

/* Handle */
.profile_content::-webkit-scrollbar-thumb {
  background: #93342680;
  border-radius: 999px;
}

/* Handle on hover */
.profile_content::-webkit-scrollbar-thumb:hover {
  background: #933426;
}
